@page
@model TartineEtTech.Website.Pages.SpeakersModel
@{
    ViewData["Title"] = "Invités";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Invit&eacute;s</h1>
    </div>
</div>

<div id="page-content">
    <div class="row">
        @foreach (var speaker in Model.Speakers)
        {
            <div class="col-sm-4 col-md-3">
                <div class="panel pos-rel">
                    <div class="pad-all text-center">
                        <a href="#">
                            <img alt="@speaker.Firstname @speaker.Lastname" class="img-lg img-circle mar-ver" src="@speaker.PictureUrl">
                            <p class="text-lg text-semibold mar-no text-main">@speaker.Firstname @speaker.Lastname</p>
                            <p class="text-sm">@speaker.Title</p>
                            <p class="text-sm">@speaker.Company</p>
                        </a>
                        <div class="pad-top btn-groups">
                            <a href="@speaker.TwitterAccount" class="btn btn-icon demo-pli-twitter icon-lg add-tooltip" data-original-title="Twitter" data-container="body" target="_blank"></a>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>